body {
  font-family: "Press Start 2P", cursive;
  background: black;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  width: 1024px;
  height: 608px;
  margin: auto;
  border: solid 1px #000;
  position: relative;
  background-image: url("img/map.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#mapa {
  position: absolute;
  top: 0;
  left: 0;
}

#player {
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url("img/Player/Player.png");
  background-position: 0 0;
  transform-origin: center center;
  z-index: 10;
}

/* Estilos para elementos dinâmicos */
.agua {
  background-image: url("img/Tiles/paisagens/agua.png");
  width: 80px;
  height: 64px;
  position: absolute;
  z-index: 5;
}
.pato {
  background-image: url("img/Tiles/paisagens/pato.png");
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 5;
}
.ganso {
  background-image: url("img/Tiles/paisagens/ganso.png");
  width: 57px;
  height: 57px;
  position: absolute;
  z-index: 5;
}
.rato {
  background-image: url("img/Tiles/paisagens/rato.png");
  width: 90px;
  height: 48px;
  position: absolute;
  z-index: 5;
}

/* Estilos de obstáculos e pontos de interesse, agora definidos aqui */
.obstacle {
  position: absolute;
  /* background: rgba(255,0,0,0.3); */
}

.chest {
  width: 32px;
  height: 32px;
  background-image: url("img/Tiles/Chest.png");
  background-size: cover;
  z-index: 5;
  position: absolute;
}

.signalDown {
  width: 32px;
  height: 32px;
  background-image: url("img/Tiles/Signal.png");
  background-size: cover;
  z-index: 8;
  position: absolute;
}

.signalTop {
  width: 32px;
  height: 32px;
  background-image: url("img/Tiles/Signal.png");
  background-size: cover;
  z-index: 15;
  position: absolute;
}

#dialog-box {
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  border: 3px solid rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1.5;
  z-index: 20;
  width: 70%;
  max-height: 70%;
  overflow-y: auto;
  display: none; /* Escondido por padrão */
}

/* Mensagem de mobile */
#mobile-message {
  display: none;
  font-size: 16px;
  color: white;
  background-color: #222;
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
  max-width: 80%;
  border-radius: 10px;
  line-height: 1.6;
  overflow: hidden;
}

.hidden {
  display: none;
}
